[
    {
        "name": "checkmate",
        "namespace": "tighten",
        "packagist_name": "tightenco/checkmate",
        "maintainers": [
            "ctroms",
            "marcusmoore"
        ]
    },
    {
        "name": "collect",
        "namespace": "tighten",
        "packagist_name": "tightenco/collect",
        "maintainers": [
            "jamisonvalenta"
        ]
    },
    {
        "name": "gistlog",
        "namespace": "tighten",
        "packagist_name": "tightenco/gistlog",
        "maintainers": []
    },
    {
        "name": "jigsaw",
        "namespace": "tighten",
        "packagist_name": "tightenco/jigsaw",
        "maintainers": [
            "damiani",
            "bakerkretzmar"
        ]
    },
    {
        "name": "jigsaw-blog-template",
        "namespace": "tighten",
        "packagist_name": "tightenco/jigsaw-blog-template",
        "maintainers": [
            "damiani",
            "bakerkretzmar"
        ]
    },
    {
        "name": "jigsaw-docs-template",
        "namespace": "tighten",
        "packagist_name": "tightenco/jigsaw-docs-template",
        "maintainers": [
            "damiani",
            "bakerkretzmar"
        ]
    },
    {
        "name": "jigsaw-site",
        "namespace": "tighten",
        "packagist_name": "tightenco/jigsaw-site",
        "maintainers": [
            "damiani",
            "bakerkretzmar"
        ]
    },
    {
        "name": "lambo",
        "namespace": "tighten",
        "packagist_name": "tightenco/lambo",
        "maintainers": [
            "mattstauffer"
        ]
    },
    {
        "name": "mailthief",
        "namespace": "tighten",
        "packagist_name": "tightenco/mailthief",
        "maintainers": []
    },
    {
        "name": "novapackages",
        "namespace": "tighten",
        "packagist_name": "tightenco/novapackages",
        "maintainers": [
            "marcusmoore",
            "darkboywonder"

        ]
    },
    {
        "name": "onramp",
        "namespace": "tighten",
        "packagist_name": "tightenco/onramp",
        "maintainers": [
            "mattstauffer"
        ]
    },
    {
        "name": "ozzie",
        "namespace": "tighten",
        "packagist_name": "tightenco/ozzie",
        "maintainers": [
            "jakebathman",
            "sbine",
            "jonsugar"

        ]
    },
    {
        "name": "quicksand",
        "namespace": "tighten",
        "packagist_name": "tightenco/quicksand",
        "maintainers": []
    },
    {
        "name": "symposium",
        "namespace": "tighten",
        "packagist_name": "tightenco/symposium",
        "maintainers": [
            "andrewmile",
            "sariyana"
        ]
    },
    {
        "name": "tlint",
        "namespace": "tighten",
        "packagist_name": "tightenco/tlint",
        "maintainers": [
            "andrewmile",
            "driftingly"
        ]
    },
    {
        "name": "ziggy",
        "namespace": "tighten",
        "packagist_name": "tightenco/ziggy",
        "maintainers": [
            "jakebathman",
            "mattstauffer",
            "bakerkretzmar"
        ]
    },
    {
        "name": "takeout",
        "namespace": "tighten",
        "packagist_name": "tightenco/takeout",
        "maintainers": [
            "mattstauffer",
            "tonysm"
        ]
    }
]
