[
    {
        "name": "built-with-laravel",
        "namespace": "tighten",
        "maintainers": [
            "mattstauffer"
        ]
    },
    {
        "name": "builtwithjigsaw",
        "namespace": "tighten",
        "maintainers": [
            "mattstauffer"
        ]
    },
    {
        "name": "consoles",
        "namespace": "tighten",
        "maintainers": [
            "mattstauffer"
        ]
    },
    {
        "name": "duster",
        "namespace": "tighten",
        "packagist_name": "tightenco/duster",
        "maintainers": [
            "driftingly"
        ]
    },
    {
        "name": "duster-action",
        "namespace": "tighten",
        "maintainers": [
            "driftingly"
        ]
    },
    {
        "name": "jigsaw",
        "namespace": "tighten",
        "packagist_name": "tightenco/jigsaw",
        "maintainers": [
            "damiani"
        ]
    },
    {
        "name": "jigsaw-blog-template",
        "namespace": "tighten",
        "packagist_name": "tightenco/jigsaw-blog-template",
        "maintainers": [
            "damiani"
        ]
    },
    {
        "name": "jigsaw-docs-template",
        "namespace": "tighten",
        "packagist_name": "tightenco/jigsaw-docs-template",
        "maintainers": [
            "damiani"
        ]
    },
    {
        "name": "jigsaw-site",
        "namespace": "tighten",
        "maintainers": [
            "damiani"
        ]
    },
    {
        "name": "jigsaw-vite-plugin",
        "namespace": "tighten",
        "maintainers": [
            "gcavanunez"
        ]
    },
    {
        "name": "laravel-mix-jigsaw",
        "namespace": "tighten",
        "maintainers": [
            "damiani"
        ]
    },
    {
        "name": "laravel-tricks",
        "namespace": "tighten",
        "maintainers": [
            "mattstauffer"
        ]
    },
    {
        "name": "laravelversions",
        "namespace": "tighten",
        "maintainers": [
            "mattstauffer"
        ]
    },
    {
        "name": "nova-google-analytics",
        "namespace": "tighten",
        "packagist_name": "tightenco/nova-google-analytics",
        "maintainers": [
            "driftingly"
        ]
    },
    {
        "name": "nova-stripe",
        "namespace": "tighten",
        "packagist_name": "tightenco/nova-stripe",
        "maintainers": [
            "nicodevs"
        ]
    },
    {
        "name": "novapackages",
        "namespace": "tighten",
        "maintainers": [
            "mattstauffer"
        ]
    },
    {
        "name": "onramp",
        "namespace": "tighten",
        "maintainers": [
            "MarcyLina"
        ]
    },
    {
        "name": "ozzie",
        "namespace": "tighten",
        "maintainers": [
            "jakebathman"
        ]
    },
    {
        "name": "parental",
        "namespace": "tighten",
        "packagist_name": "tightenco/parental",
        "maintainers": [
            "tonysm"
        ]
    },
    {
        "name": "php-package-skeleton",
        "namespace": "tighten",
        "maintainers": [
            "mattstauffer"
        ]
    },
    {
        "name": "phpreleases",
        "namespace": "tighten",
        "maintainers": [
            "mattstauffer"
        ]
    },
    {
        "name": "phpreleases-action",
        "namespace": "tighten",
        "maintainers": []
    },
    {
        "name": "postit",
        "namespace": "tighten",
        "maintainers": [
            "mattstauffer"
        ]
    },
    {
        "name": "takeout",
        "namespace": "tighten",
        "packagist_name": "tightenco/takeout",
        "maintainers": [
            "tonysm"
        ]
    },
    {
        "name": "tallstack",
        "namespace": "tighten",
        "maintainers": [
            "mattstauffer"
        ]
    },
    {
        "name": "tlint",
        "namespace": "tighten",
        "packagist_name": "tightenco/tlint",
        "maintainers": [
            "driftingly"
        ]
    },
    {
        "name": "tlint-plugin",
        "namespace": "tighten",
        "maintainers": []
    },
    {
        "name": "tlint-sublime-plugin",
        "namespace": "tighten",
        "maintainers": []
    },
    {
        "name": "ziggy",
        "namespace": "tighten",
        "packagist_name": "tightenco/ziggy",
        "maintainers": [
            "bakerkretzmar"
        ]
    }
]