[
    {
        "name": "checkmate",
        "namespace": "tighten",
        "maintainers": [
            "ctroms",
            "marcusmoore"
        ]
    },
    {
        "name": "collect",
        "namespace": "tighten",
        "maintainers": [
            "jamisonvalenta"
        ]
    },
    {
        "name": "gistlog",
        "namespace": "tighten",
        "maintainers": [
            "mattstauffer"
        ]
    },
    {
        "name": "jigsaw",
        "namespace": "tighten",
        "maintainers": [
            "damiani",
            "bakerkretzmar",
            "darkboywonder"
        ]
    },
    {
        "name": "jigsaw-blog-template",
        "namespace": "tighten",
        "maintainers": [
            "damiani",
            "bakerkretzmar",
            "darkboywonder"
        ]
    },
    {
        "name": "jigsaw-docs-template",
        "namespace": "tighten",
        "maintainers": [
            "damiani",
            "bakerkretzmar",
            "darkboywonder"
        ]
    },
    {
        "name": "jigsaw-site",
        "namespace": "tighten",
        "maintainers": [
            "damiani",
            "bakerkretzmar",
            "darkboywonder"
        ]
    },
    {
        "name": "lambo",
        "namespace": "tighten",
        "maintainers": [
            "mattstauffer"
        ]
    },
    {
        "name": "mailthief",
        "namespace": "tighten",
        "maintainers": [
            "mattstauffer"
        ]
    },
    {
        "name": "novapackages",
        "namespace": "tighten",
        "maintainers": [
            "mattstauffer"
        ]
    },
    {
        "name": "onramp",
        "namespace": "tighten",
        "maintainers": [
            "tammytee",
            "mattstauffer"
        ]
    },
    {
        "name": "ozzie",
        "namespace": "tighten",
        "maintainers": [
            "jakebathman",
            "sbine"
        ]
    },
    {
        "name": "quicksand",
        "namespace": "tighten",
        "maintainers": [
            "mattstauffer"
        ]
    },
    {
        "name": "symposium",
        "namespace": "tighten",
        "maintainers": [
            "andrewmile",
            "sariyana"
        ]
    },
    {
        "name": "tlint",
        "namespace": "tighten",
        "maintainers": [
            "loganhenson",
            "andrewmile"
        ]
    },
    {
        "name": "ziggy",
        "namespace": "tighten",
        "maintainers": [
            "jakebathman",
            "mattstauffer",
            "bakerkretzmar"
        ]
    },
    {
        "name": "takeout",
        "namespace": "tighten",
        "maintainers": [
            "josecanhelp",
            "mattstauffer"
        ]
    }
]
